In [0]:
--in this class we learn about SELECT,FROM,WHERE,ORDER BY,DISTINCT,GROUP BY, HAVING CLAUSE
--LET'S PRACTICE It***
select * from employees;

In [0]:
select first_name,last_name,salary 
from employees;

In [0]:
select first_name,last_name,salary 
from employees
where salary>100000;

In [0]:
--Retrieve all employees who were hired after January 1, 2020
select *
from employees
where hire_date>'2020-01-01';

In [0]:
--- Find employees in the 'Finance' department earning less than ₹65,000.
select *
from employees
where department='Finance' and salary<65000;

In [0]:
--- List all employees whose status is 'Inactive'.
select * from employees
where status='Inactive';

In [0]:
-- Show all employees located in 'Mumbai' with the job title 'HR Manager'
select * from employees
where city='Mumbai' and job_title='HR Manager';

In [0]:
--Get employees whose salary is between ₹70,000 and ₹90,000
select *
from employees
where salary between 70000 and 90000;

In [0]:
select *
from employees
where salary between 70000 and 90000
order by salary;

In [0]:
-- List all distinct job titles in the company.
select distinct job_title
from employees;

In [0]:
--- Get all unique cities where employees are based
select distinct city
from employees;

In [0]:
--- Show all employees ordered by hire date in ascending order.
select *
from employees
order by hire_date;

In [0]:
--- Retrieve active employees sorted by salary in descending order
select *
from employees
where status='Active'

In [0]:
--- List employees in the 'Sales' department ordered alphabetically by last name.
select *
from employees
where department='Sales'
order by last_name;

In [0]:
--Count how many employees work in each department.
select department, count(*)
from employees
group by department

In [0]:
--Find the average salary per city.
select city, avg(salary)
from employees
group by city
order by avg(salary) desc;

In [0]:
--- Get the number of employees per job title.
select job_title, count(*)
from employees
group by job_title;

In [0]:
--Show departments that have more than 4 employees.
select department, count(*) as num_employees
from employees
group by department
having num_employees > 4

In [0]:
--List cities where the average salary is greater than ₹75,000.
select city, avg(salary)
from employees
group by city
having avg(salary) > 75000
order by avg(salary) desc;