In [0]:
--CREATING EmployeesSubQuery table
CREATE TABLE EmployeesSubQuery (
  EmployeeID int,
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  JobID VARCHAR(50),
  Salary int,
  ManagerID int,
  Department VARCHAR(50)
)  ;

insert into EmployeesSubQuery values
(100, 'Steven', 'King', 'AD_PRES', 24000.00, NULL, 90),
(101, 'Neena', 'Kochhar', 'AD_VP', 17000.00, 100, 90),
(102, 'Lex', 'De Haan', 'AD_VP', 17000.00, 100, 90),
(103, 'Alexander', 'Hunold', 'IT_PROG', 9000.00, 102, 60),
(104, 'Bruce', 'Ernst', 'IT_PROG', 6000.00, 103, 60),
(105, 'David', 'Austin', 'IT_PROG', 4800.00, 103, 60),
(106, 'Valli', 'Pataballa', 'IT_PROG', 4800.00, 103, 60),
(107, 'Diana', 'Lorentz', 'IT_PROG', 4200.00, 103, 60);

In [0]:
SELECT * FROM EmployeesSubQuery ;

In [0]:
--1.	Find employees who earn more than the average salary of all employees.
select 
  EmployeeID, 
  FirstName, 
  LastName, 
  Salary
from EmployeesSubQuery
where Salary > (select avg(Salary) from EmployeesSubQuery);

In [0]:
--2.	List departments that have at least one employee.
select 
  COUNT(EmployeeID) as NumberOfEmployees, 
  Department 
from EmployeesSubQuery 
group by Department 
having NumberOfEmployees > 0;

In [0]:
--3.	Find the employee(s) with the highest salary.
SELECT 
  EmployeeID,
  FirstName,
  LastName,
  Salary
FROM EmployeesSubQuery
WHERE Salary=(SELECT MAX(Salary) FROM EmployeesSubQuery);

In [0]:
--4.	Return the names of employees working in departments located in Bangalore.
select
   FirstName as EmployeeName 
from EmployeesSubQuery 
where Department = 'Bangalore';