In [0]:
--CREATING Employee_Sales Table

CREATE TABLE Employee_Sales(
  EmployeeID INT PRIMARY KEY,
  Name STRING,
  Department STRING,
  JoinDate DATE,
  SalsAmount INT,
  Region STRING
);

--inserting data into  Employee_Sales Table

INSERT INTO Employee_Sales
VALUES
(101,'Priya', 'Retail', '2022-01-25', 50000, 'East'),
(102,'Arjun', 'Retail', '2021-03-10', 70000, 'West'),
(103,'Neha', 'Corporate', '2023-07-21', 65000, 'East'),
(104,'Rohan', 'Retail', '2020-11-20', 80000, 'North'),
(105,'Sneha', 'Corporate', '2022-05-25', 60000, 'West'),
(106,'Karan', 'Retail', '2023-01-05', 55000, 'East');

In [0]:
--1.	Write a query to convert all employee names to uppercase using a scalar function.
select upper(Name) as Name from Employee_Sales;

In [0]:
--2.	Write a query to extract the year from each employee’s JoinDate.
select YEAR(JoinDate) as JoinYear from Employee_Sales;

In [0]:
--3.	Write a query to round the SalesAmount to the nearest thousand.
SELECT ROUND(SalsAmount/1000)*1000 as rounded_SalesAmount FROM Employee_Sales;

In [0]:
--4.	Write a query to find the length of each employee’s name.
SELECT LEN(Name) as Name_Length ,Name FROM Employee_Sales;

In [0]:
--5.	Write a query to replace 'Retail' with 'Consumer' in the Department column.
select replace(Department,'Retail','Consumer') as Department from Employee_Sales;

In [0]:
--6.	Write a query to calculate the number of days each employee has been in the company using DATEDIFF().
SELECT DATEDIFF(day,JoinDate,CURRENT_DATE()) as Days_in_company,Name FROM Employee_Sales;

In [0]:
--7.	Write a query to assign a row number to each employee ordered by SalesAmount in descending order.
select
  row_number() over(order by SalsAmount desc) unique_row_number,
  Name,
  SalsAmount
from Employee_Sales

In [0]:
--8.	Write a query to rank employees within each Region based on SalesAmount.
select 
  Name,
  Region,
  SalsAmount,
  rank() over(partition by Region order by SalsAmount desc) as rank
from Employee_Sales;

In [0]:
--9.	Write a query to return the previous and next SalesAmount for each employee using LAG() and LEAD().
select 
  Name,
  SalsAmount,
  lag(SalsAmount) over(order by SalsAmount) as previous_SalsAmount,
  lead(SalsAmount) over(order by SalsAmount) as next_SalsAmount
from Employee_Sales;

In [0]:
--10.	Write a query to calculate the running total of SalesAmount by Department.
select
  Department,
  SalsAmount,
  sum(SalsAmount) over (partition by Department order by SalsAmount) as running_total
from Employee_Sales;

In [0]:
--11.	Write a query to return the first SalesAmount in each Region using FIRST_VALUE().
select
   Region,
  FIRST_VALUE(SalsAmount) over(partition by Region order by SalsAmount) as first_SalsAmount
from Employee_Sales;

In [0]:
--12.	Write a query to return the last SalesAmount in each Region using LAST_VALUE().
SELECT 
  Region,
  LAST_VALUE(SalsAmount) OVER (
    PARTITION BY Region 
    ORDER BY SalsAmount 
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS last_SalsAmount
FROM Employee_Sales;

In [0]:
--13.	Write a query to divide employees into 3 groups based on SalesAmount using NTILE(3).
SELECT SalsAmount,NTILE(3) OVER (ORDER BY SalsAmount) AS SalesAmount
from Employee_Sales;

In [0]:
--14.	Write a query to extract the first three characters of each employee’s name.
select  
  left(Name ,3) EmployeeFirstthreecharacter
from employee_sales;

In [0]:
--15.	Write a query to display the current system date and time for each row.
select 
  getdate() as current_date_time
 
from Employee_Sales;